{% extends "/layout/default.twig" %}
{% import "/macros/form-elements.twig" as forms %}

{% block title %}Clients{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Client</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if success is not empty %}
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
            {% endif %}
            {% if error is not empty %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>                        
            {% endif %}
        </div>
    </div>    
    <div class="row">        
        <div class="col-md-12">
            <form action="/clients/index" class="form form" method="get">            
                <div class="row">        
                    <div class="col-md-12">                
                        {{ forms.input_with_button_left('text', 'Search', 'search', '3', null, 'Put your search here!', 'Search', 'Reset', '/clients/index') }}
                    </div>                
                </div>
            </form>        
        </div>            
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            {% set headers = {'name': 'Name', 'phone': 'Phone'} %}
            {{ forms.table(headers, clients) }}
        </div>          
    </div>
</div>
{% endblock %}