{% extends "/layout/default.twig" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Name</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{client.id}}</td>
                        <td>{{client.name}}</td>
                        <td>{{client.phone}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>                   
        </div>          
    </div>
</div>
{% endblock %}