<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Slim Framework Test</a>
        </div>
        <ul class="nav navbar-nav">
            <li href="/" class="{% if app.request.attributes.get('_route') starts with '/' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    Client <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="clients/list">List</a></li>
                    <li><a href="clients/add">Add</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>